body {
  background: #020617;
  color: white;
  font-family: Arial;
  text-align: center;
}

input, button {
  width: 90%;
  margin: 5px;
  padding: 10px;
}

button {
  background: #22c55e;
  border: none;
  font-weight: bold;
}
